<p style="color: green"><%= notice %></p>

<h1>Quizzes</h1>

<%= link_to "New quiz", new_quiz_path, class: "btn btn-success"   %>

<br><br>

<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @quizzes.each do |quiz| %>
        <tr>
          <td>
            <%= quiz.title %>
          </td>
          <td>
            <%= link_to "Show", quiz, class: "btn btn-primary" %>
            <%= link_to "Edit", edit_quiz_path(quiz), class: "btn btn-secondary" %>
            <%= link_to "Delete", @quiz, method: :delete, class: "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>




